name: cdk-deploy

on:
  workflow_dispatch:
    inputs:
      app:
        description: "CDK app folder under apps/ (e.g. employee_directory)"
        required: true
        type: string
      region:
        description: "AWS region"
        type: choice
        required: true
        options:
          - us-east-1
          - us-west-2
      stacks:
        description: "Stacks to deploy (--all or stack name)"
        required: true
        default: "--all"
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/_cdk.yml
    with:
      app: ${{ inputs.app }}
      region: ${{ inputs.region }}
      mode: deploy
      stacks: ${{ inputs.stacks }}
    secrets:
      CDK_CI_ROLE_ARN: ${{ secrets.CDK_CI_ROLE_ARN }}
